<ng-container *ngIf="Tienda.length !=0">
    <div class="container">
    <div class="card-table">
        <div class="cart-product">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Imagen Producto</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>cantidad</th>
                        <th>Total</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tienda of Tienda; let i = index">
                        <td >{{tienda.nombre}}</td>
                        <td><img style="width: 120px;" src="{{tienda.imagen}}" alt=""></td>
                        <td style="width: 25%;">{{tienda.descripcion}}</td>
                        <td style="width: 12%;">{{tienda.precio}}</td>
                        <td style="width: 12%;">{{tienda.cantidad}}</td>
                        <td style="width: 12%;">{{tienda.total}}</td>
                        <td>
                            <button (click)="removeproducto(tienda)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                        </td>                       
                    </tr>
                    <tr> 
                        <td colspan="4"> </td>
                        <td> <button (click)="emptycarrito()" class="btn btn-danger"> Vaciar Carrito</button></td>
                        <td> <button routerLink="/tienda" class ="btn btn-info">Seguir Comprando</button></td>
                        <td> <button (click)="mostrarMecadoPago()" class="btn btn-primary">Finalizar Compra</button></td>
                        <td><strong> Total de Carrito : ${{grandTotal}} </strong></td>
                          
                    </tr>
                </tbody> 
            </table>
        </div>
    </div>
</div>

</ng-container>

<div class="mercadoPagoContainer" id="mercadoPagoContainer">
    <div style="align-self: flex-end;">
        <button class="btn close" style="color: white;" (click)="ocultarMercadoPago()">
            <i class="bi-x" style="font-size: 22px;"></i>
        </button>
    </div>
    <div id="cardPaymentBrick_container"></div>
</div>
<ng-container *ngIf="Tienda.length ==0">
    <div class="container">
        <div class="card">
            <h1 class="card-tittle"> Mi Carrito </h1>
        </div>
        <div class="center">
            <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="image">
            <h2> Tu Carrito Esta Vacio!</h2>
            <h4> Agrega un Producto a Tu Carrito</h4>
            <button routerLink="/tienda" class= "btn btn-primary">Compra Ahora</button>
        </div>
    </div>
</ng-container>











<!-- <div>

    <button class="btn btn-primary" (click)="mostrarMecadoPago()">
        Finalizar Pago
    </button>
    
    <div class="mercadoPagoContainer" id="mercadoPagoContainer">
        <div style="align-self: flex-end;">
            <button class="btn close" style="color: white;" (click)="ocultarMercadoPago()">
                <i class="bi-x" style="font-size: 22px;"></i>
            </button>
        </div>
        <div id="cardPaymentBrick_container"></div>
    </div>
    
</div> -->