<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html"></a>
            <img src="../../../assets/gamemate.png" alt="logo" class="logo">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" routerLink="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="nosotros.html">Nosotros</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Tienda
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item fs-5" routerLink="/tienda">Tienda</a></li>
                            <li><a class="dropdown-item fs-5" routerLink="/producto">Producto</a></li>
                            <li><a class="dropdown-item fs-5" href="#">Historial</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="boton-header" routerLink="/registro">REGISTRO</a>
                    </li>
                    <li class="nav-item">
                        <a class="boton-header" routerLink="/login" >INICIO SESION</a>
                    </li>
                    <li class="carrito">
                        <i class="bi bi-cart3 fs-20"></i>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
