<div class="contenedor">
    <h1>Nosotros</h1>
        <div class="nosotros">
            <div class="main__texto1">
                <h1>¿Quiénes somos?</h1>
                <p>Nos enorgullece decir que hemos construido una comunidad de usuarios fieles que comparten nuestra pasión
                por los
                videojuegos. Hemos estado comprometidos con la idea de brindarles la mejor experiencia, única para cada
                usuario,
                para que encuentren todo lo que buscan en nuestro sitio web .
                Es por eso que siempre buscamos formas de mejorar y ofrecer más valor a nuestra comunidad.</p>
                <p>Nuestra plataforma también cuenta con una tienda en línea con productos exclusivos de GameMate, como
                remeras,
                llaveros, gorras y otros artículos relacionados con los videojuegos. Los usuarios pueden acceder a
                nuestra
                tienda en línea y adquirir productos de alta calidad, diseñados específicamente para la comunidad de
                GameMate.
                La tienda en línea está disponible en todo el país y ofrecemos envío gratuíto para todos nuestros
                productos.
                </p>
                <p>En GameMate, creemos que los videojuegos son más que solo un pasatiempo, son una forma de arte y una
                forma de
                conectarse con personas de todo el mundo. Nuestro objetivo es crear la comunidad gamer mas grande del
                pais,
                donde los gamers puedan conectarse, interactuar y disfrutar de sus juegos favoritos juntos.
                ¡Únete a la comunidad de GameMate hoy y descubre una forma completamente nueva de disfrutar de los
                videojuegos!
                </p>
            </div>
            <img class="nosotros__imagen" src="img/nosotros.jpg" alt="imagen nosotros">
        </div>
    <div class="main__section--invitacion--2">
        <div class="main__texto2">
            <h1>¿Cómo funciona?</h1>
            <p>Como gamers sabemos lo díficultoso que puede ser conseguir equipo o incluso un duo para jugar, por eso
            con Game Mate queremos construir una sana comunidad para que todos juguemos en un ambiente sano.</p>
            <p> Game Mate conecta con gente de todo el país. Es muy simple, luego de registrar tu cuenta solo hace falta
            seleccionar el chat y autoamticamente podrás chatear con personas que compartan la misma pasión y ganas
            de jugar.</p>
        </div>
        <div class="main__grafico2">
            <img class="animate__animated animate__pulse animate__infinite	infinite animate__slower	2s"
                src="img/img__personaje3.png" alt="">
        </div>
    </div>
    <div class="animate__animated animate__flash    animate__infinite	infinite animate__slower	1s">
        <div class="main__boton">
            <a href="registro.html" class="main__boton--neon">
                <span id="span1"></span>
                <span id="span2"></span>
                <span id="span3"></span>
                <span id="span4"></span>
            </a>  
        </div>      
        <section class="contenedor comprar">
        <h2 class="comprar__titulo">¿Porqué Comprar con nosotros?</h2>

        <div class="bloques">
            <div class="bloque">
                <img class="bloque__imagen" src="img/icono_1.png" alt="porque comprar">
                <h3 class="bloque__titulo">El Mejor Precio</h3>
                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin porta
                pretium felis</p>
            </div> <!--.bloque-->

            <div class="bloque">
                <img class="bloque__imagen" src="img/icono_2.png" alt="porque comprar">
                <h3 class="bloque__titulo">Para Devs</h3>
                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin porta
                pretium felis</p>
            </div> <!--.bloque-->

            <div class="bloque">
                <img class="bloque__imagen" src="img/icono_3.png" alt="porque comprar">
                <h3 class="bloque__titulo">Envío Gratis</h3>
                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin porta
                pretium felis</p>
            </div> <!--.bloque-->

            <div class="bloque">
                <img class="bloque__imagen" src="img/icono_4.png" alt="porque comprar">
                <h3 class="bloque__titulo">La Mejor Calidad</h3>
                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin porta
                pretium felis</p>
            </div> <!--.bloque-->
        </div><!--.bloques-->
    </section>
</div>  