.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

h1{
  text-align: center;
  color: var(--blanco);
  font-family: var(--fuente-segundaria);
  font-size: 4rem;
}
.animacion1__img,
.animacion2__img {
  height: 10rem;
  width: auto;
}
.animacion1__img {
  margin-left: 105rem;
}
.animacion2__img {
  margin-left: 75rem;
}
.nosotros {
  display: flex;
  gap: 10rem;
}
.animacion__img {
  height: 60rem;
  width: auto;
}
.main__texto1 {
  text-align: center;
}

.main__section--invitacion--2 {
  text-align: center;
}

.bloques {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.bloque {
  text-align: center;
}

.bloque__titulo {
    margin: 0;
}

.comprar__titulo {
  text-align: center;
}
  
